* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'cascadia code';

}

.container {
    display: flex;
    gap: 6rem;
    flex-direction: column;
}

.item_container {
    display: flex;
    gap: 10rem;
    position: relative;
}

.item_container::before{
    content: '';
    position: absolute;
    background-color: rgb(0, 0, 0,0.2);
    width: 90%;
    height: 4px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: -1;
}

.progress{
    position: absolute;
    height:4px;
    background-color:  rgb(0, 153, 255);
    top: 50%;
    width: 0;
    transform: translateY(-50%);
    z-index: -1;
    transition: all .5s linear;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 1.5rem;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-color: white; 
    color: rgb(0, 0, 0, 0.5);
}
.item:nth-child(1){
    border: 2px solid rgb(0, 153, 255);
    color: black;
}
.item_progress{
    border: 2px solid rgb(0, 153, 255);
    transition: all .5s linear;
    animation: item_progress .8s linear .5s;
    color: black;
}

@keyframes item_progress {
    0%{
        transform: scale(1);
    }    
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }    
}

.button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    user-select: none;
}

.prev,
.next {
    padding: 1rem 2rem;
    width: 13rem;
    text-align: center;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 153, 255);
    color: white;
    border-radius: .3rem;
    cursor: pointer;
}